player-connection-mode=Listen
player-connection-guid=717819304
player-connection-debug=0
player-connection-project-name=eswinswag
player-connection-ip=192.168.56.1
player-connection-ip=192.168.178.32
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9a3affc0b7864362b1ba863f363c1b71
